# 1994 Census Data Of Adult Income

## Step 1: Problem Statement

This UCI machine learning repository data set is an extraction done by Barry Becker from the 1994 census database and contains anonymous information of adults relating their income to social factors such as age, education, race and so on.

The data is structured and split into two cvs files: adult.data(the training data) and adult.test(test dataset), it also has a good combination of categorical, numerical and missing values.

In this project, we aim to predict whether a person makes over 50K a year by training a binary classifier on adult.data to predict income which has two possible values ">50k" and "<=50k" and evaluate the accuracy with data.test.

This will enbale stakeholders indentify the social factors that contribute to a person making over 50k a year and take the necessary intiatives to help the disadvantaged.

Features:Age,Workclass,Fnlwgt,Education.num,Marital.status,Occupation,Relationship,Race,sex,
         Capital.gain,Capital.loss,hours.per.week,native.country

Target: Income

fnlwgt(sampling weight) is not related to the target variable income and will be removed before building the model.

Problem type: Supervised classification.

## Step 2: Data Acquisition

This dataset was obtained from the UCI repository, link for data source is https://archive.ics.uci.edu/ml/datasets/Adult

## Step 3: Data Dictionary

| Original Column Name | New Column Name | Description                                                                  | Data type |
|----------------------|-----------------|------------------------------------------------------------------------------|-----------|
| age                  | age             | Age of an individual                                                         | int       |
| workclass            | work_class      | Type of ownership of the employing organization                              | string    |
| fnlwgt               | fnlwgt          | Final weight. The number of people the census believes the entry represents  | int       |
| education            | education       | The highest level of education achieved by an individual                     | string    |
| education.num        | education_num   | Total number of years of education an individual has                         | int       |
| marital.status       | marital_status  | Marital status of an individual                                              | string    |
| occupation           | occupation      | The general type of occupation of an individual                              | string    |
| relationship         | relationship    | What this individual is relative to others                                   | string    |
| race                 | race            | Individual's race                                                            | string    |
| sex                  | sex             | The biological sex of an individual                                          | string    |
| capital.gain         | capital_gain    | Profit made from investment sources other than salary/wages                  | int       |
| capital.loss         | capital_loss    | Loss made from investment sources other than salary/wages                    | int       |
| hours.per.week       | hours_per_week  | The hours an individual has reported to work per week                        | int       |
| native.country       | native_country  | Country of origin for an individual                                          | string    |
| income               | income          | An individual's income valued as <=50k and >50k                              | string    |

In [8]:
import pandas as pd

In [9]:
data_train =pd.read_csv('C:/Users/Mrs Dee/Desktop/Colaberry Python/DS2/Adult dataset/AdultTrain.csv')

In [12]:
data_train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [10]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
print(type(data_train))

<class 'pandas.core.frame.DataFrame'>